@mixin circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        left: 0;
        top: -25%;
        z-index: -1;
    }
}
@mixin circle-dos {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        left: -60px;
        top: 0px;
        z-index: -1;
    }
}
@mixin circle-center {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        /* left: 50%; */
        left: calc(50% - 18px);
        /* transform: translateX(-50%); */
        top: -5px;
        z-index: -1;
    }
}
@mixin divider-yellow {
    border: 2px solid $main-color;
    width: 60px;
    height: 0px;
    margin-top: 25px;
}