@media (max-width: 1330px) {
    .container {
        margin-left: 100px;
    }
    .sidepanel {
        top: 200px;
    }
    .grid-container {
        max-width: 1200px;
    }
    .exp {
        &_stitle {
            margin-top: 60px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
        padding-left: 30px;
        margin: 0 auto;

    }
    .grid-container {
        margin-top: 50px;
        max-width: 960px;
        grid-template-columns: 340px 305px 305px;
        grid-template-rows: 260px 155px 155px;
    }

    .title {
        &_fz48 {
            font-size: 30px;
        }
        &_fz36 {
            font-size: 28px;
        }
        &_fz16 {
            font-size: 14px;
        }
        &_fz14 {
            font-size: 12px;
        }
    }
    .text {
        font-size: 12px;
    }

    .sidepanel {
        display: none;
    }
    .promo {
        padding-top: 190px;
        &_title {
            width: 300px;
            line-height: 39px;
        }
    }
    .aboutme {
        .container {
            margin-left: 0px;
        }
        &_divider {
            margin-top: 6px;
            margin-bottom: 11px;
        }
        &_text {
            font-size: 12px;
        }
        &_img {
            left: -36px;
            top: 12px;
        }
        &_stitle {
            left: 10px;
        }

    }
    .my_foto {
        width: 335px;
        height: 520px;   
    }
    #about {
        margin-left: 20px;
    }
    #skill-1, #skill-3, #skill-2, #skill-4 {
        margin-left: 60px;
    }
    .exp {
        margin-top: 40px;
        height: 450px;
        &_stitle {
            margin-top: 20px;
        }
        &_divider {
            margin: 10px auto;
        }
        &_wrapper {
            padding-top: 20px;
            max-width: 850px;
            padding-left: 40px;
            display: grid;
            grid-template-columns: repeat(2, 400px);
            column-gap: 40px;
        }
    }
    .work {
        margin-top: 10px;
        &_wrapper {
            grid-template-columns: repeat(4, 220px);
            grid-template-rows: 220px;
            gap: 13px;
        }
        &_subtitle {
            margin-top: 7px;
            margin-bottom: 5px;
        }
        &_js {
            width: 130px;
            margin-top: 7px;
            margin-bottom: 5px;
        }
    }
    .item_wrapp {
        padding: 15px;
        img {
            height: 45px;
        }
    }
    
    .skill {
        margin-top: 80px;
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: repeat(2, 60px);
        row-gap: 30px;
        column-gap: 30px;
        &_scale-W {
            margin-top: 31px;
        }
    }
    .portfolio {
        &_item_four {
            grid-column: unset;
            grid-row: unset;
        }
        &_item_six {
            grid-column: unset;
        }
        &_wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            gap: 30px;
        }
    } 
}


@media (max-width: 992px) {
    .container {
        max-width: 670px;
    }
    .promo {
        &_btns {
            width: 230px;
        }
    }
    .grid-container {
        margin-top: 40px;
        max-width: 750px;
        min-height: 590px;
        grid-template-columns: 270px 450px;
        grid-template-rows: 245px 90px 90px 90px;
        grid-template-areas: 
        "main-foto about"
        "main-foto skill-1"
        "main-foto skill-2"
        "main-foto skill-3"
        "main-foto skill-4"
        }
    .my_foto {
        width: 260px;
        height: 590px;
        object-fit: cover;   
    }
    .aboutme {
        &_subtitle {
            margin-top: 0px;
        }
        &_title {
            margin-top: 5px;
        }
        &_divider {
            margin-top: 0px;
            margin-bottom: 11px;
        }
        &_text {
            margin-top: 3px;
            font-weight: 500;
        }
        &_img {
            left: -36px;
            top: 12px;
        }
        &_stitle {
            left: 10px;
        }
    }

    #skill-1, #skill-3, #skill-2, #skill-4 {
        margin-left: 70px;
    }

    .exp {
       height: 100%;
        .container {
            margin: 0 auto;
            max-width: 750px;
            min-height: 500px;
        }
        
        &_stitle {
            margin-top: 20px;
        }
        &_divider {
            margin: 10px auto;
        }
        &_wrapper {
            padding-top: 20px;
            padding-left: 30px;
            max-width: 700px;
            display: grid;
            grid-template-columns: 300px 320px;
            column-gap: 30px;
        }
    }
    .work {
        &_wrapper {
            margin: 30px auto;
            padding-left: 40px;
            grid-template-columns: repeat(2, 250px);
            grid-template-rows: repeat(2, 230px);
            column-gap: 50px;
            row-gap: 30px;
        }
    }
    
    
    .skill {
        margin-top: 80px;
        padding-left: 30px;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(3, 60px);
        row-gap: 30px;
        column-gap: 30px;
    }
           
}

@media (max-width: 768px) {
    .promo {
        height: 500px;
    }
    
    .container {
        max-width: 540px;
        padding-left: 30px;
        margin-left: 0px;
    }
    .hamburger {
        right: 20px;
    }
    .aboutme {
        .container {
            margin: 0 auto;
        }
        .grid-container{
            margin-top: 40px;
            max-width: 520px;
            min-height: 400px;
            grid-template-columns: 510px;
            grid-template-rows: 0px auto auto auto auto auto;
            grid-template-areas: 
            "main-foto"
            "about"
            "skill-1"
            "skill-2"
            "skill-3"
            "skill-4"
        }
        .my_foto {
            height: 510px;
            opacity: 0.25;
            object-fit: cover;
            margin-left: 260px;   
        }
        #skill-1, #skill-3, #skill-2, #skill-4 {
            margin-left: 50px;
        }
        #about {
            margin-left: 0px;
        }

    }
    .exp {
        .container {
            margin: 0 auto;
            width: 100%;
            padding: 0px;
        }

        &_wrapper {
            margin: 0 auto;
            padding-top: 20px;
            padding-left: 35px;
            max-width: 520px;
            display: grid;
            grid-template-columns: 450px;
           
        }
    }
    .work {
       height: 100%;
        .container {
            margin: 0 auto;
        }
        &_wrapper {
            margin: 20px auto;
            padding-left: 15px;
            grid-template-columns: repeat(2, 220px);
            grid-template-rows: repeat(2, 215px);
            column-gap: 30px;
            row-gap: 20px;
        }
    }
    .skill {
        margin-top: 40px;
        padding-left: 10px;
        grid-template-columns: repeat(2, 240px);
        grid-template-rows: repeat(3, 60px);
        row-gap: 30px;
        column-gap: 20px;
    }
    .portfolio {
        .container {
            margin: 0 auto;
        }
        &_wrapper {
            grid-template-columns: repeat(auto-fit, 230px);
            grid-template-rows: repeat(2, 230px);
            /* gap: 5px; */
            grid-auto-rows: 230px;
        }
        &_item {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
   
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
        margin-left: 0px;
        
    }
    .promo {
        height: 500px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .menu {
        &_block {
            width: 250px;
        }
        &_list {
            padding-left: 55px;
        }
        &_close {
            left: 195px;
        }
        &_link {
            font-size: 22px;
        }
        &_social {
            left: 80px;
        }
    }
    .aboutme {
        .container {
            padding-left: 0px;
            min-height: 770;
        }
        .my_foto {
            opacity: 0;
            margin-left: -300px;
            width: 300px;
            height: 0px;
        }
    
        .grid-container{
            margin-top: 40px;
            margin: 40px auto 0 auto;
            max-width: 100%;
            min-height: 770px;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
        &_stitle {
            width: 215px;
            margin-top: 10px;
        }
        
    }
    .exp {
        margin-top: 40px;
        
        .container {
            margin: 0px;
            max-width: 100%; 
            padding: 0px;
        }

        &_wrapper {
            padding-top: 10px;
            padding-left: 15px;
            max-width: 100%; 
            display: grid;
            grid-template-columns: 1fr;
           
        }
       
    }
    .work {      
        margin: 30px auto;
        .container {
            margin: 0 auto;
        }
        &_wrapper {
            width: 230px;
            margin: 20px auto;
            padding:20px;
            padding-left: 0px;
            grid-template-columns: repeat(1, 230px);
            grid-template-rows: repeat(4, 215px);
            row-gap: 20px;
        }
        
    }
    .skill {
        width: 240px;
        height: 100%;
        margin: 40px auto;
        grid-template-columns: repeat(1, 240px);
        grid-template-rows: repeat(6, 60px);
        row-gap: 30px;
        
    }
    .portfolio {
        .container {
            margin: 0 auto;
        }
        &_wrapper {
            margin-top: 30px;
            grid-template-columns: repeat(auto-fit, 230px);
            grid-template-rows: repeat(2, 230px);
            justify-content: space-around; 
            gap: 15px;
        }
       
    }
    
        
}