.exp {
    margin-top: 120px;
    max-height: 560px;
    position: relative;
    
    &_stitle {
        margin-top: 180px;
        transform: translateX(0.1%);
        text-align: center;
        @include circle-center;
    }
    &_title {
        text-align: center;
        padding-top: 5px;
    }
    &_divider {
        @include divider-yellow; 
        margin: 25px auto;
    }
    ul {
        list-style-type: none;
        
        li {
            position: relative;
            &::after {
                content: '';
                width: 1px;
                height: 115%;
                position: absolute;
                top: -16px;
                left: 0;
                background: #000;
            }
        }
    }
    

    &_item_stitle {
        position: relative;
        @include circle-dos;
        }

    &_wrapper {
        padding-top: 60px;
        padding-left: 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &_subtitle {
        position: relative;
        padding-left: 35px;
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: $main-color;
            border-radius: 100%;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &_item_loc {
        padding-top: 0px;
    }
    &_item_head {
        padding-left: 100px;
        position: relative;
    }
    &_item_body {
        padding-left: 35px;
        padding-top: 0px;
        margin-top: 8px;
    }
    &_item {
        &::before {
            content: '';
            width: 40px;
            height: 1px;
            position: absolute;
            top: 18px;
            left: 0px;
            background: #000;
        }
    }
        
}
.exp_item_icon {
    position: absolute;
    left: 55px;
    top: 13px;
}

