.grid-container {
    margin-top: 80px;
    display: grid;
    max-width: 1400px;
    min-height: 520px;
    grid-template-columns: 400px 380px 380px;
    grid-template-rows: 320px 155px 155px;
    grid-template-areas: 
    "main-foto about about"
    "main-foto skill-1 skill-2"
    "main-foto skill-3 skill-4"

}
#main-foto {
    grid-area: main-foto
}
#about {
    grid-area: about;
    margin-left: 30px;
}
#skill-1 {
    grid-area: skill-1;
    margin-left: 85px;
    position: relative;
}
#skill-2 {
    grid-area: skill-2;
    margin-left: 85px;
    position: relative;
}
#skill-3 {
    grid-area: skill-3;
    margin-left: 85px;
    position: relative;
}
#skill-4 {
    grid-area: skill-4;
    position: relative;
    margin-left: 85px;
}
.my_foto {
    width: 400px;
    height: 600px;
    object-fit: contain;

}
.aboutme {
    &_divider  {
        border: 2px solid $main-color;
        width: 60px;
        height: 0px;
        margin-top: 20px;
        margin-bottom: 40px;

    }
    &_title {
        margin-top: 10px;
    }
    &_subtitle {
        margin-top: 20px;
        padding-left: 12px;
        position: relative;
        @include circle;
    }
    &_text {
        margin-top: 10px;
        font-size: 14px;

    }
    &_img {
        position: absolute;
        left: -45px;
        top: 15px;
        
    }
    &_stitle {
        position: relative;
        @include circle-dos;       
    }
    
}
.text {
    padding-top: 6px;
          
}
